@import "background";
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  @include background;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;

  .quote-container {
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
  }

  .quote-text {
    font-size: 2.75rem;
  }

  .fa-quote-left {
    font-size: 4rem;
  }

  .quote-author {
    margin-top: 15px;
    font-weight: 400;
    font-style: italic;
    font-size: 2rem;
  }

  .button-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }

  button {
    cursor: pointer;
    font-size: 1.25rem;
    height: 2.5rem;
    border: none;
    color: #fff;
    background: #333;
    outline: none;
    padding: 0.5rem 1.8rem;
    box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);

    &:hover {
      filter: brightness(110%);
    }

    &:active {
      transform: translate(0, 0.3rem);
      box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
    }
  }

  .twitter-button {
    &:hover {
      color: #38a9f3;
    }
  }

  .fa-twitter {
    font-size: 1.5rem;
  }
}

.long-text {
  font-size: 2rem;
}

/* Media Query: Tablet or Smaller */
@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 10px;
  }
  .quote-text {
    font-size: 2.5rem;
  }
}
